body {
    margin-left: 8.4375rem;
    margin-right: 8.4375rem;
    font-family: Roboto;
    background: #FFFFFF;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    padding: 20px 0;
    background-color: #ffff;
}

.menu_item {
    margin-left: 20px;
}

.menu_item a {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0.2em;
    font-style: normal;
    text-transform: uppercase;
    line-height: 12px;
    text-decoration: none;
}

.menu_item a:hover {
    text-decoration: underline overline;
    cursor: pointer;
}

.menu_item a:active {
    text-decoration: underline overline;
}

.main__title-1 {
    margin-top: 21rem;
    width: 17.36rem;
    height: 4rem;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    color: rgba(189, 189, 189, 1);
}

.main__title-2 {
    margin-bottom: 5.625rem;
    width: 11.625rem;
    height: 4rem;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    color: rgba(51, 51, 51, 1);
}

.btn__arrow-pic {
    width: 1.5rem;
    height: 1.5rem;
}

.btn__gallery-left {
    margin-right: 1.43625rem;
    width: 3.309375rem;
    height: 3.3125rem;
    border: 0.0625rem solid #F2F2F2;
    background: #FFFFFF;
    color: #333333;
}

.btn__gallery-right {
    width: 3.309375rem;
    height: 3.3125rem;
    border: 0.0625rem solid #F2F2F2;
    background: #F9F9F9;
    color: #333333;
}

.line {
    margin-right: 0;
    margin-left: 0;
}

.slide-numbers {
    margin-top: 5.625rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #BDBDBD;
}

.main__pic {
    margin-top: 0.1875rem;
    margin-right: 8.4375rem;
    width: 48.125rem;
    height: 51.8125rem;
}

.main__viewer {
    width: 13.875rem;
    height: 4.4375rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 51, 51, 1)
}

.card__viewer {
    border: none;
}


/* Для блока about */
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.875rem;
    padding-top: 7.5rem;
}
.about-photo_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
    padding-left: 6.25rem;
}
.about-photo_container_col1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.625rem;
}
.about-photo_container_col1-1 {
    position: relative;
    left: 1em;
    width: 16.875rem;
    height:16.563rem;
}
.about-photo_container_col1-2 {
    width: 16.875rem;
    height: 8.75rem;
}
.about-photo_container_col2-1 {
    position: relative;
    top: 1em;
    width: 16.875rem;
    height: 21.563rem;
}
.text {
    margin-top: 2em;
}
.about-text text{
    width: 25rem;
    height: 12.5rem;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    color: #BDBDBD;
}
.text {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.563rem;
    color: #000000;
}
.about-text_container{
    padding-right: 4.375rem;
}
.about-text_container_more{
    display: flex;
    justify-content: space-between;
    width: 7.688rem;
    height: 1.5rem;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
.about-text_container_more-arrow{
    width: 1.5rem;
    height: 1.5rem;
}
.about-text_container_more-readmore{
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.875rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}
.about_link-readmore{
    text-decoration: none;
}
.about_link-readmore:hover{
    text-decoration: underline;
    color: black;
}
/* Для блока MainFocus */
.main-focus title{
    width: 55rem;
    height: 4rem;
    left: 8.438rem;
    top: 102.438rem; 
}
.main-focus_container{
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    width: 25.813rem;
    height: 9rem;
}
.main-focus_container-1{
    display: flex;
    justify-content: left;
    margin-right: 11.688rem;
}
.main-focus_container-2{
    display: flex;
    width: 35.625rem;
    height: 9rem;
}
.main-focus_number{
    width: 6.5rem;
    height: 8.75rem;
    margin-right: 1.875rem;
    font-style: normal;
    font-weight: 900;
    font-size: 12.5rem;
    line-height: 14.625rem;
    display: flex;
    align-items: center;
    color: #F2F2F2
}
.main-focus_text{
    width: 17.438rem;
    height: 9rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2.25rem;
    color: #333333;
}
.main-focus_container-2_text2{
    width: 35.625rem;
    height: 9rem;
}