body {
    margin-left: 8.4375rem;
    margin-right: 8.4375rem;
    font-family: Roboto;
    background: #FFFFFF;
    /* width: 100%; */
}

/*Блок Header*/
ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    padding: 1.25rem 0;
    background-color: #ffff;
}

.menu_item {
    margin-left: 1.25rem;
}

.menu_item a {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #333333;
    letter-spacing: 0.2em;
    font-style: normal;
    text-transform: uppercase;
    line-height: 0.75rem;
    text-decoration: none;
}

.menu_item a:hover {
    text-decoration: underline overline;
    cursor: pointer;
}

.menu_item a:active {
    text-decoration: underline overline;
}

.logo {
    width: 4.375rem;
    height: 3.7319rem;
    max-width: 100%;
}


/*Блок Project Lorum*/

.main__title-1 {
    margin-top: 21rem;
    width: 17.36rem;
    height: 4rem;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    color: rgba(189, 189, 189, 1);
}

.main__title-2 {
    margin-bottom: 5.625rem;
    width: 11.625rem;
    height: 4rem;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    color: rgba(51, 51, 51, 1);
}

.btn__arrow-pic {
    width: 1.5rem;
    height: 1.5rem;
}

.btn__gallery-left {
    margin-right: 1.43625rem;
    width: 3.309375rem;
    height: 3.3125rem;
    border: 0.0625rem solid #F2F2F2;
    background: #FFFFFF;
    color: #333333;
}

.btn__gallery-right {
    width: 3.309375rem;
    height: 3.3125rem;
    border: 0.0625rem solid #F2F2F2;
    background: #F9F9F9;
    color: #333333;
}

.line {
    width: 16.9375rem;
}

.slide-numbers {
    margin-top: 5.625rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #BDBDBD;
}

.main__pic {
    margin-top: 0.1875rem;
    margin-right: 8.4375rem;
    width: 48.125rem;
    height: 51.8125rem;
}

.main__viewer {
    width: 13.875rem;
    height: 4.4375rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 51, 51, 1)
}

.main__viewer-link {
    text-decoration: none;
    color: #000000;
}

.main__viewer-link:hover {
    text-decoration: underline;
    color: #000000;
}

.card__viewer {
    border: none;
}

/* Для блока about, десктоп*/
@media screen and (min-width: 1024px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1.875rem;
        padding-top: 7.5rem;
    }

    .about-photo_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
        padding-left: 6.25rem;
    }

    .about-photo_container_col1 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0.625rem;
    }

    .about-photo_container_col1-1 {
        position: relative;
        left: 1em;
        width: 16.875rem;
        height: 16.563rem;
    }

    .about-photo_container_col1-2 {
        width: 16.875rem;
        height: 8.75rem;
    }

    .about-photo_container_col2-1 {
        position: relative;
        top: 1em;
        width: 16.875rem;
        height: 21.563rem;
    }

    .text {
        margin-top: 2em;
    }

    .about-text text {
        width: 100%;
        height: 100%;
    }

    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 4rem;
        line-height: 4rem;
        color: #BDBDBD;
    }

    .text {
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.563rem;
        color: #000000;
    }

    .about-text_container {
        padding-right: 4.375rem;
    }

    .about-text_container_more {
        display: flex;
        justify-content: space-between;
        width: 7.688rem;
        height: 1.5rem;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
    }

    .about-text_container_more-arrow {
        width: 1.5rem;
        height: 1.5rem;
    }

    .about-text_container_more-readmore {
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.875rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
    }

    .about_link-readmore {
        text-decoration: none;
    }

    .about_link-readmore:hover {
        text-decoration: underline;
        color: black;
    }
}

/* Для блока MainFocus */
.main-focus title {
    width: 55rem;
    height: 4rem;
    left: 8.438rem;
    top: 102.438rem;
}

.main-focus_container {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    width: 25.813rem;
    height: 100%;
}

.main-focus_container-1 {
    display: flex;
    justify-content: left;
    margin-right: 11.688rem;
}

.main-focus_container-2 {
    display: flex;
    width: 35.625rem;
    height: 9rem;
}

.main-focus_number {
    width: 6.5rem;
    height: 8.75rem;
    margin-right: 1.875rem;
    font-style: normal;
    font-weight: 900;
    font-size: 12.5rem;
    line-height: 14.625rem;
    display: flex;
    align-items: center;
    color: #F2F2F2
}

.main-focus_text {
    width: 17.438rem;
    height: 9rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2.25rem;
    color: #333333;
}

.main-focus_container-2_text2 {
    width: 35.625rem;
    height: 9rem;
}

/*Блок Our Projects*/

.container__ourprojects {
    display: grid;
    grid-template-rows: 15.9375rem 15.9375rem 1fr;
    grid-template-columns: 16.875rem 1fr 1fr 23.125rem;
    gap: 1.875rem;
    margin-bottom: 7.5rem;
    width: 73.125rem;
    height: 47.8125rem;
}

.container__ourprojects>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ourprojects__pic-1 {
    grid-row: 1/2;
    grid-column: 1/3;
}

.ourprojects__pic-2 {
    grid-row: 1/2;
    grid-column: 3/5;
}

.ourprojects__pic-3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.ourprojects__pic-4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.ourprojects__pic-5 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.ourprojects__title {
    margin-top: 7.5rem;
    margin-bottom: 3.75rem;
    font-size: 4rem;
    font-weight: 300;
    color: #BDBDBD;
}

.bg__title {
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
}

.btn__sampleprojects {
    margin-top: 1rem;
    margin-bottom: 2.9375rem;
    width: 8.0625rem;
    height: 1.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.ourprojects__pic-arrow {
    margin-right: 22.625rem;
}

.btn__sampleprojects-link {
    text-decoration: none;
    color: #FFFFFF;
}

.btn__sampleprojects-link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.bg__text {
    padding-top: 3rem;
    padding-left: 4.9375rem;
    padding-right: 16.125rem;
    width: 32.5rem;
    height: 15.9375rem;
    line-height: 4rem;
    background: #333333;
    opacity: 0.8;
}

.btn__projects {
    grid-row: 3/4;
    grid-column: 4/5;
    justify-self: end;
    margin-top: 1.875rem;
    padding-top: 1.5rem;
    padding-left: 2.4375rem;
    padding-right: 2.488125rem;
    padding-bottom: 1.4375rem;
    width: 13.863125rem;
    height: 4.4375rem;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: rgba(51, 51, 51, 1);
    color: #FFFFFF;
}

.allprojects__link {
    text-decoration: none;
    color: #FFFFFF;
}

.allprojects__link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

/*Блок Project Lorum, адаптив*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .line {
        display: none;
    }

    .btn__gallery-left {
        display: none;
    }

    .btn__gallery-right {
        display: none;
    }

    .container__slide-numbers {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .line {
        display: none;
    }

    .btn__gallery-left {
        display: none;
    }

    .btn__gallery-right {
        display: none;
    }

    .container__slide-numbers {
        display: none;
    }
}

/* Адаптив. (Десктоп- от 1024px. Планшет- от 768 до 1023.мобилка- от 0 до 767): */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Блок about, планшет */
@media (min-width: 768px) and (max-width: 1023px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        padding-top: 5rem;
    }

    .about-photo_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
        padding-left: 6.25rem;
    }

    .about-photo_container_col1 {
        display: none;
    }

    .about-photo_container_col2-1 {
        position: relative;
        top: 1em;
        width: 16.875rem;
        height: 21.563rem;
    }

    .text {
        margin-top: 2em;
    }

    .about-text text {
        width: 25rem;
        height: 12.5rem;
    }

    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 4rem;
        line-height: 4rem;
        color: #BDBDBD;
    }

    .text {
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.563rem;
        color: #000000;
    }

    .about-text_container {
        padding-right: 4.375rem;
    }

    .about-text_container_more {
        display: flex;
        justify-content: space-between;
        width: 7.688rem;
        height: 1.5rem;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
    }

    .about-text_container_more-arrow {
        width: 1.5rem;
        height: 1.5rem;
    }

    .about-text_container_more-readmore {
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.875rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
    }

    .about_link-readmore {
        text-decoration: none;
    }

    .about_link-readmore:hover {
        text-decoration: underline;
        color: black;
    }

    /* Блок main-focus, планшет */
    .main-focus title {
        width: 55rem;
        height: 4rem;
        left: 8.438rem;
        top: 102.438rem;
        margin-top: 5rem;
    }

    .main-focus_container {
        margin-top: 5em;
        display: flex;
        justify-content: space-between;
    }

    .main-focus_container-1 {
        display: flex;
        justify-content: left;
    }

    .main-focus_container-2 {
        display: flex;
        justify-content: left;
        width: 35.625rem;
        height: 9rem;
    }

    .main-focus_number {
        width: 6.5rem;
        height: 8.75rem;
        font-style: normal;
        font-weight: 900;
        font-size: 12.5rem;
        line-height: 14.625rem;
        display: flex;
        align-items: center;
        color: #F2F2F2
    }

    .main-focus_text {
        width: 17.438rem;
        height: 9rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 2.25rem;
        color: #333333;
    }

    .main-focus_container-2_text2 {
        width: 35.625rem;
        height: 9rem;
    }
}

/* Блок about, мобилка */
@media (min-width: 0px) and (max-width: 767px) {
    body {
        width: 100%;
    }

    .about {
        padding-top: 5rem;
        width: 100%;
    }

    .about-photo_container {
        display: none;
    }

    .text {
        margin-top: 2em;
    }

    .about-text text {
        width: 25rem;
        height: 12.5rem;
    }

    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 4rem;
        line-height: 4rem;
        color: #BDBDBD;
    }

    .text {
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.563rem;
        color: #000000;
    }



    .about-text_container_more {
        display: flex;
        justify-content: space-between;
        width: 7.688rem;
        height: 1.5rem;
        margin-top: 1rem;

    }

    .about-text_container_more-arrow {
        width: 1.5rem;
        height: 1.5rem;
    }

    .about-text_container_more-readmore {
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.875rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
    }

    .about_link-readmore {
        text-decoration: none;
    }

    .about_link-readmore:hover {
        text-decoration: underline;
        color: black;
    }

    /* Блок main-focus, мобилка */
    .main-focus title {
        width: 100%;
        height: 4rem;
        left: 8.438rem;
        top: 102.438rem;
        margin-top: 5rem;
    }

    .main-focus_container {
        width: 100%;
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5rem;
    }

    .main-focus_container-1 {
        display: flex;
        justify-content: left;
    }

    .main-focus_container-2 {
        display: flex;
        justify-content: left;
        width: 35.625rem;
        height: 9rem;
    }

    .main-focus_number {
        width: 6.5rem;
        height: 8.75rem;
        font-style: normal;
        font-weight: 900;
        font-size: 12.5rem;
        line-height: 14.625rem;
        display: flex;
        align-items: center;
        color: #F2F2F2
    }

    .main-focus_text {
        width: 17.438rem;
        height: 9rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 2.25rem;
        color: #333333;
    }

    .main-focus_container-2_text2 {
        width: 35.625rem;
        height: 9rem;
    }
}

/*Блок Our Projects, адаптив*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__ourprojects {
        display: grid;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-columns: 30% 20% 20% 30%;
        width: fit-content;
        height: fit-content;
    }

    .bg__text {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .container__ourprojects {
        display: grid;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-columns: 30% 20% 20% 30%;
        width: fit-content;
        height: fit-content;
    }

    .bg__text {
        width: 100%;
        height: 100%;
    }
}

/* Для блока Contact */
.contact h2 {
    font-size: 4rem;
    color: #BDBDBD;
    font-weight: 300;
}

.form-group {
    display: grid;
    height: 22rem;
    align-items: stretch;
    grid-gap: 1rem;
    border-radius: 0;


}

.form-control {
    background-color: #F3F3F3;
    color: #8D8D8D;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 2.25rem;
    letter-spacing: 0.04em;
}

.btn__contact {
    margin-top: 1.875rem;
    margin-right: 3.75rem;
    padding-top: 1.5rem;
    padding-left: 2.4375rem;
    padding-right: 2.488125rem;
    padding-bottom: 1.4375rem;
    width: 13.863125rem;
    height: 4.4375rem;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: rgba(51, 51, 51, 1);
    color: #FFFFFF;
    text-decoration: none;
}

.btn__contact:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

/* Блок contact, мобилка */
@media (min-width: 0px) and (max-width: 767px) {
    .img-contact {
        display: none;
    }

    .form-group {
        width: 500px;
    }
}

/* Всплывающее модальное окно */
.modaloknobutton {
    margin-top: 1.875rem;
    margin-right: 3.75rem;
    padding-top: 1.5rem;
    padding-left: 2.4375rem;
    padding-right: 2.488125rem;
    padding-bottom: 1.4375rem;
    width: 13.863125rem;
    height: 4.4375rem;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.vizovokna {
    font-size: 0.75rem;
    padding: 9px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.modalokno:hover {
    background: #333333;
}

.modaloknoview {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.modaloknoview:target {
    visibility: visible;
    opacity: 1;
}

.modalokno {
    margin: auto;
    padding: 1.5rem;
    background: #FFFFFF;
    width: 32.25rem;
    height: 26.3125rem;
    position: relative;
    transition: all 10s ease-in-out;
}

.modalokno h2 {
    margin-top: 1.5rem;
    color: #333333;
    text-align: center;

}

.success {
    width: 8.875rem;
    height: 8.875rem;
    display: block;
    margin: auto;
    padding: auto;
}

.modalokno .close {
    position: absolute;
    top: 0.8125rem;
    right: 0.8125rem;
    transition: all 200ms;
    font-size: 0.8125rem;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.modalokno .close:hover {
    color: #FFFFFF;
}

.modalokno .modalokno_text {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.returnButton {
    margin-top: 2.5625rem;
    margin-right: 3.9375rem;
    margin-left: 2.9375rem;
    width: 24.4375rem;
    height: 2.625rem;
    border-radius: 0;
    background-color: #333333;
    text-align: center;
}

.return {

    color: #FFFFFF;
    font-size: 0.75rem;
    text-decoration: none;


}

.return:hover {
    color: #8D8D8D;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .modalokno {
        width: 70%;
    }
}

/* Footer */
.footer_top {
    background-color: #2C2C2C;
    padding: 50px 0;

}

.block {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
}

.menu-footer_item:not(:last-child) {
    margin: 0px 0px 16px 0px;
}

.menu-footer_link {
    color: #fff;
    display: inline-block;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.menu-footer_link :hover {
    text-decoration: underline;
}

.contacts-footer {
    display: flex;
    flex-direction: column;

}

.contacts-footer_item {
    padding: 0px 0px 0px 35px;
    line-height: 142%;
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 30px;
}

.contacts-footer_item:hover {
    text-decoration: underline;
}

.contacts-footer_item:not(:last-child) {
    margin: 0px 0px 32px 0px;
}

.contacts-footer_item_map {
    background: url("../img/Footer/Vector1.svg") 0 0 no-repeat
}

.contacts-footer_item_phone {
    background: url("../img/Footer/Vector2.svg") left no-repeat;
}

.contacts-footer_item_email {
    background: url("../img/Footer/Mail.svg") left no-repeat
}

.social-footer_item {
    display: flex;
    align-items: center;
}

@media (min-width: 767px) {
    .footer_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}